#kop1 {
    color:rgb(131, 176, 161);
}

#body1 {
    background-color:green;
}
#kop2 {
    color: red;
}
#body2 {
    background-color: rgb(65, 209, 225);
}
#kop3{
    color: orange;
}
#body3 { 
    background-color: blue;
}
#kop4 { 
    color:darkturquoise;
}
ul {
    color: white;
    background-color: black;   
    /* Zoek op w3schools css navigation bar en dan horizontal, style float toevoegen aan ul bij
    de pagina zelf, dit verwijderen*/
}
li {
    float: left;
}
:active {
    background-color:deepskyblue
}
/* bakcground colors doen ipv kopjes enz, op elke pagina onderste regel van menu, kijk w3schools
ook kijken bestandsformaten voor commentaar*/