#kop1 {
    color:rgb(131, 176, 161);
}

#body1 {
    color: white;
    background-color:green;
}

#kop2 {
    color: red;
}
#body2 {
    background-color: rgb(65, 209, 225);
}
#kop3{
    color: orange;
}
#body3 { 
    background-color: lightblue;
}
#kop4 { 
    color:darkturquoise;
}
#body4 {
    background-color: lightgreen;
    color: black
}
#kop5 {
    color: red;
}
#body5 {
    background-color:lightblue ;
}
#kop6 {
    color: orange;
}
#body6 {
    background-color: green;
    color: white;
}
#link1 {
    color: white;
    background-color: red;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
}
#link2 {
    color: white;
    background-color: green;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
}
#link3 {
    color: white;
    background-color: darkcyan;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    color:red;
  }
  footer {
    color: white;
    background-color:blue;
    padding: 2px;
    text-align: center;
  }
 p {
    font-size: 18px; 
 }
