/* Dit commentaar geldt voor elke kop en body die hieronder wordt gebruikt. Op elke pagina zelf is  er een id gegeven aan zowel
de kop als de body. De kop hebben kleurtjes gekregen en bij de body wordt de achtergrond van de pagina gekozen.*/

#kop1 {
    color:rgb(131, 176, 161);
}

#body1 {
    color: white;
    background-color:green;
}

#kop2 {
    color: red;
}
#body2 {
    background-color: rgb(65, 209, 225);
}
#kop3{
    color: orange;
}
#body3 { 
    background-color: lightblue;
}
#kop4 { 
    color:darkturquoise;
}
#body4 {
    background-color: lightgreen;
    color: black
}
#kop5 {
    color: red;
}
#body5 {
    background-color:lightblue ;
}
#kop6 {
    color: orange;
}
#body6 {
    background-color: green;
    color: white;
}
/* Dit commentaar geldt voor de links hieronder. De links staan op de site als buttons. De padding betekent de grootte van
deze buttons. Text-align is of de tekst links, rechts of in het midden staat en in dit geval is dit in het midden. De text-decoration
bepaalt bijvoorbeeld de streep onder de link, in dit geval is die er niet. De background-color is de kleur van de button en de color is 
de tekst*/
#link1 {
    color: white;
    background-color: red;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
}
#link2 {
    color: white;
    background-color: green;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
}
#link3 {
    color: white;
    background-color: darkcyan;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
}
/* Dit commentaar hoort bij de ul van hieronder. De ul is het menu van deze website. Dit menu wordt hier gestyled.
De margin is hoeveel afstand er zit tussen de bovenkant van de pagina en het eerstestuk tekst onder het menu. 
De padding bepaalt in hoeverre de tekst van het menu van de zijkant vandaan zit.*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } /*Dit commentaar hoort bij de li a, de li a gaat over de inhoud van het menu. Hiermee wordt dus kleur gegeven aan het menu,
  en de grootte bepaald.*/
  li a:hover { 
    color:red;
  }/* de hover color is de kleur die het menu wordt wanneer je eroverheen gaat met de muis. De tekst wordt dan dus rood.*/
  footer {
    color: white;
    background-color:blue; 
    padding: 2px;
    text-align: center;
  } /* De footer staat onderaan elke pagina. De padding is de grootte en de text-align zorgt ervoor dat de tekst in het midden van
  de pagina staat.*/
 p {
    font-size: 18px; 
 } /* Dit is de grootte van de tekst van de paragrafen, dus de tekst op elke pagina is 18px groot.*/
 
